/* Contenedor de las tablas */
.tables-container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* La tabla de historial ocupa más espacio */
  gap: 1rem;
  padding: 1rem;
}

/* Tabla de historial */
.table.historial {
  background-color: #fff;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table.historial table {
  width: 100%;
  border-collapse: collapse;
}

.table.historial th,
.table.historial td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

.table.historial th {
  background-color: #2D8F2F;
  color: #fff;
}

.table.historial tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.table.historial tbody tr.selected {
  background-color: #94ff92; /* Color de fondo para la fila seleccionada */
  font-weight: bold; /* Opcional: resaltar texto */
}

/* Tabla de detalles */
.table.detalles {
  background-color: #fff;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table.detalles table {
  width: 100%;
  border-collapse: collapse;
}

.table.detalles th,
.table.detalles td {
  border: 1px solid #ddd;
  text-align: left;
}

.table.detalles th {
    background-color: #2D8F2F;
    color: #fff;
}

/* Hacer que ambas tablas ocupen la mitad de la pantalla */
.tables-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.table.detalles p {
  color: #666;
  font-size: 1rem;
  text-align: center;
}
.no-padding {
    padding: 0;
}

.scrollable {
    max-height: 330px;
    overflow-y: auto;
}

.full-width {
    width: 100%;
}