/* Contenedor de las tablas */
.tables {
  display: grid;
  grid-template-columns: 2fr 1fr; /* La tabla de historial ocupa más espacio */
  gap: 1rem; /* Espacio entre las tablas */
  padding: 1rem;
}

.table th,
.table td {
  height: 48px; /* Ajusta el valor según lo que necesites */
  vertical-align: middle;
  color: black;
}

/* Tabla principal (Historial de Ventas) */
.table.historial {
  grid-column: 1 / 2; /* Ocupa la primera columna */
  grid-row: 1 / 3;    /* Ocupa ambas filas */
  background-color: #fff;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table.historial table {
  width: 100%;
  border-collapse: collapse;
}

.table.historial th,
.table.historial td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

.table.historial th {
  background-color: #2D8F2F;
  color: #fff;
}

.table.historial tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Tablas secundarias (Productos de Bajo Stock y Más Vendidos) */
.table {
  background-color: #fff;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table.stock {
  grid-column: 2 / 3; /* Ocupa la segunda columna */
  grid-row: 1 / 2; /* Apilada en la parte superior */
}

.table.vendidos {
  grid-column: 2 / 3; /* Ocupa la segunda columna */
  grid-row: 2 / 3; /* Apilada debajo de la tabla de bajo stock */
}

.table.stock,
.table.vendidos {
  min-height: 230px;
  max-height: 230px;
  height: 230px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.table h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #2D8F2F;
}

.table ul {
  list-style: none;
  padding: 0;
  color: black;
}

.table ul li {
  margin: 0.5rem 0;
}

/* Estilo para los elementos de la lista */
.stock-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Estilo para la imagen */
.stock-list-img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-left: 1rem;
  margin-right: 0;
}